<%- include('partial/header'); -%>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
    <% if(opportunity) { %>
    <div class="w3-container w3-card w3-white w3-margin-bottom">
        <img width="100%" height="400px" src="<%= opportunity.attachments[0].address%>" />
    </div>
    
    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">
        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2><%-  opportunity.objective %></h2>
        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Employment Type</h2>
            <p><%-  opportunity.commitment.code.replace(/ /g, "&nbsp;") %></p>
        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-money fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Base Salary</h2>
            <p><%= opportunity.compensation.currency%> <%= opportunity.compensation.minAmount %> - <%= opportunity.compensation.maxAmount %> / <%= opportunity.compensation.periodicity %></p>
        </div>

        <div class="w3-white w3-text-grey w3-card-4 w3-margin-bottom">
            <div class="w3-container w3-margin-bottom">
                <p><i class="fa fa-times fa-fw w3-margin-right w3-large w3-text-teal"></i><b>Deadline:</b> <%= opportunity.deadline %></p>
                <p><i class="fa fa-location-arrow fa-fw w3-margin-right w3-large w3-text-teal"></i><b>Remote:</b> <%= opportunity.place.remote %></p>
                <p><i class="fa fa-location-arrow fa-fw w3-margin-right w3-large w3-text-teal"></i><b>Anywhere:</b> <%= opportunity.place.anywhere %></p>
                <p><i class="fa fa-times-circle fa-fw w3-margin-right w3-large w3-text-teal"></i><b>Any timezone:</b> <%= opportunity.place.timezone %></p>
                <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i><%= opportunity.owner.name %> ( Owner)</p>
                <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i><%= opportunity.owner.professionalHeadline %></p>
            </div>
        </div>
        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
            <% for(var i=0; i<opportunity.strengths.length; i++) {%>
                <%= opportunity.strengths[i].name%> ( <%= opportunity.strengths[i].experience%> ),&nbsp;
            <% } %>
        </div>
  
        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
            <% for(var i=0; i<opportunity.languages.length; i++) {%>
                <p><%= opportunity.languages[i].language.name%></p>
                <p><b><%= opportunity.languages[i].fluency%></b></p>
            <% } %>
        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-home fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Organizations</h2>
            <% for(var i=0; i<opportunity.organizations.length; i++) { %>
                <h5 class="w3-opacity"><b><%= opportunity.organizations[i].name%></b></h5>
                    <img width="100px" src="<%= opportunity.organizations[i].picture%>" />
                    <hr>
            <% } %>
        </div>

      <!-- End Left Column -->
      </div>
      <!-- Right Column -->
      <div class="w3-twothird">
        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-list fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Description</h2>
            <p><%-  opportunity.serpTags.description.replace(/ /g, "&nbsp;") %></p>

        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Details</h2>
          <% for(var i=0; i<opportunity.details.length; i++) { %>
          <div class="w3-container">
            <h4 class="w3-opacity"><b><%= opportunity.details[i].code%></b></h4>
            <span class="w3-text-teal">
                <%- opportunity.details[i].content.replace(/ /g, "&nbsp;") %>
            </span>
          </div>
          <% } %>
        </div>
      <!-- End Right Column -->
      </div>
    <!-- End Grid -->
    </div>
    <!-- End Page Container -->
    <% else %>
    <div class="w3-container w3-card w3-white w3-margin-bottom w3-center">
    <h2>No Data Found</h2>
    </div>
    <% } %>
  </div>

<%- include('partial/footer'); -%>
